header {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgb(25, 240, 79);
    color: rgb(254, 0, 0);
}

section{
    margin-left: 10px;
}
body {
    margin: 0px;
    background-color: ghostwhite;
}

#title {
    display: inline;
    font-size: 50px;
}

label {
    padding: 5px;
}
